body{
    font-family: 'Bona Nova', serif;
    margin: 0px;

}
.section1{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
span{
    color: chocolate;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
.left-div{
    width: 60%;
    padding: 30px;
}
.right-div{
    width: 40%;
    padding: 30px;
}
section{
    display: flex;
}
img{
    height: 420px;
    width: 450px;
}
.link{
    font-size: 20px;
    font-weight: 700;
    
    background-image: linear-gradient(orange,tomato);
    
    border-radius: 5%;
    padding: 5px 8px;
    text-decoration: none;
    padding-bottom: 15px;
}


.section2{
    display: flex;
    background-image:url(images/dream-bg.png) ;
    background-repeat: no-repeat;
    background-position: right;
}
.left-div-sec2{
    width: 50%;
    padding-left:70px;
    
}
.right-div2{
    width: 50%;
    padding-left: 300px;
    padding-right: 50px;
}
.ankor2{
    font-size: 20px;
    background-image: linear-gradient(orange,tomato);
    padding: 5px 8px;
    text-decoration: none;
    border-radius: 5px;
}
