body{
    font-family: 'Bona Nova', serif;
    margin: 0px;
}
span{
    color: chocolate;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
.left-div{
    width: 60%;
    padding: 30px;
}
.right-div{
    width: 40%;
    padding: 30px;
}
section{
    display: flex;
}
img{
    height: 420px;
    width: 450px;
}
a{
    font-size: 20px;
    font-weight: 700;
    background-color: chocolate;
    border: coral 1px solid;
    border-radius: 5%;
    padding: 5px 8px;
    text-decoration: none;
}